.container-loading{

width: 200px;
height: 80px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(110%, 60%);
}

.circle {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background-color:rgba(218, 176, 5, 0.787);
    left: 15%;
    transform-origin: 60%;
    animation: circle .6s alternate infinite ease;
}

@keyframes circle {
    0%{
        top:70px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.8);
    }
    45%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top: 0%;
    }
}

.circle:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3){
    left: auto;
    right: 15%  ;
    animation-delay: .3s;
}

.shadow{
    width: 30px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(187, 76, 68, 0.26);
   top: 90%;
   left: 15%;
    transform-origin: 50%;
    z-index: -1;
    filter: blur(1px);
    animation: shadow .6s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        opacity: -7;
        transform: scaleX(1);
    }
    100%{
        opacity: -4;
        transform: scaleX(2);
    }
}

.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}