body{
    padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./components/close-up-on-cotillon-decoration.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
  .App{
    display: flex;
    justify-content: center;
   
    align-items: center;
  }
  
  .countdown {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 60%;
    gap: 40px;
  }